# Environnement virtuel
venv/
env/
ENV/
.venv/

# Fichiers sensibles
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Temp
.DS_Store
*.swp
*.swo
*~

# Data (si ajout futur)
data/

# Vector DB (RAG)
vector_db/
*.pkl
*.idx

# Database
*.sqlite
*.db

# Jupyter
.ipynb_checkpoints/

evaluate/results/v1_1_sql_routing